<header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html" style="font-weight: 800;font-size: 30px;">RIPe Fruit</a>                
            </div>
            <span style="color:white;color: white;padding-top: 12px;margin-right: 12px;" class="pull-right"><i class="fa fa-user"></i> Cart</span>
            <span style="color:white;color: white;padding-top: 12px;margin-right: 12px;" class="pull-right"><i class="fa fa-shopping-cart"></i> Account</span>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li ui-sref-active="active">
                        <a ui-sref="stores"><i class="fa fa-lemon-o"></i> Stores</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="products"><i class="fa fa-lemon-o"></i> Products</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="seasons"><i class="fa fa-lemon-o"></i> Seasons</a>
                    </li>
                </ul>
            </div>
        </nav>
</header>