<header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html" style="font-weight: 800;font-size: 30px;">RIPe Fruit</a>                
            </div>

            <a style="color:white;color: white;padding-top: 12px;margin-right: 12px;" class="pull-right" ui-sref="account"><i class="fa fa-user"></i> Account</a>

            <a style="color:white;color: white;padding-top: 12px;margin-right: 12px;" class="pull-right" ui-sref="cart"><i class="fa fa-shopping-cart"></i> Cart</a>

            <span ui-sref-active="active" style="color:white;color: white;padding-top: 12px;margin-right: 12px; " class="pull-right"><a ui-sref="signin"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a></span>

            <span style="color:white;color: white;padding-top: 12px;margin-right: 12px;" class="pull-right"><a ui-sref="signup"><i class="fa fa-pagelines" aria-hidden="true"></i> Sign Up</a></span>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li ui-sref-active="active">
                        <a ui-sref="stores"><i class="fa fa-lemon-o"></i> Stores</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="products"><i class="fa fa-lemon-o"></i> Products</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="seasons"><i class="fa fa-lemon-o"></i> Seasons</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="users"><i class="fa fa-lemon-o"></i> Users</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="carts"><i class="fa fa-lemon-o"></i> Carts</a>
                    </li>
                </ul>
            </div>
        </nav>
</header>