<div id="wrapper">

    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        {{userInfo.username}}<br>
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">User Info</h3>
                        </div>

                        <div class="table-responsive" ng-if="editMode">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>

                                </thead>
                                <tbody>
                                <tr>
                                    <td>Firstname</td>
                                    <td><input type="text" class="form-control" ng-init ="modUserObj.price = userInfo.price" ng-model="modUserObj.firstname"></td>
                                </tr>
                                <tr>
                                    <td>Lastname</td>
                                    <td><input type="text" class="form-control" ng-init ="modUserObj.photo = userInfo.photo" ng-model="modUserObj.lastname"></td>
                                </tr>
                                <tr>
                                    <td>Photo</td>
                                    <td><input type="text" class="form-control" ng-init ="modUserObj.photo = userInfo.photo" ng-model="modUserObj.photo"></td>
                                </tr>
                                <tr>
                                    <td>Street</td>
                                    <td><input type="text" class="form-control" ng-init ="modUserObj.photo = userInfo.street" ng-model="modUserObj.address.street"></td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td><input type="text" class="form-control" ng-init ="modUserObj.photo = userInfo.photo" ng-model="modUserObj.address.city"></td>
                                </tr>
                                <tr>
                                    <td>Province</td>
                                    <td><input type="text" class="form-control" ng-init ="modUserObj.quantity = userInfo.quantity" ng-model="modUserObj.address.province"></td>
                                </tr>
                                <tr>
                                    <td>Postal Code</td>
                                    <td><input type="text" class="form-control" ng-init ="modUserObj.photo = userInfo.photo" ng-model="modUserObj.address.postalcode"></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><input type="text" class="form-control" ng-init ="modUserObj.photo = userInfo.photo" ng-model="modUserObj.email"></td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="button" class="btn btn-primary btn-block" style="margin-top: 20px;" ng-click="modCurrentUser()">Submit</button>
                            <button type="button" ng-click="toggleEdit()">BACK</button>
                        </div>

                        <div class="panel-body" ng-if="!editMode">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center">
                                    <img alt="User Pic" ng-src="{{userInfo.photo}}" class="profile-img img-responsive">
                                </div>

                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table table-user-information">
                                        <tbody>
                                        <tr>
                                            <td>Firstname</td>
                                            <td>{{userInfo.firstname}}</td>
                                        </tr>
                                        <tr>
                                            <td>Lastname</td>
                                            <td>{{userInfo.lastname}}</td>
                                        </tr>
                                        <tr>
                                            <td>Username</td>
                                            <td>{{userInfo.username}}</td>
                                        </tr>

                                        <tr>
                                            <tr>
                                                <td>Address</td>
                                                <td>{{userInfo.street}}, {{userInfo.city}} {{userInfo.province}} {{userInfo.postalcode}}</td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td><a ng-href="{{userInfo.email}}">{{userInfo.email}}</a></td>
                                            </tr>

                                            </td>

                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a data-original-title="Edit" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary" ng-click="toggleEdit()">Edit Info</a>
                            <a data-original-title="Edit" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary" ng-click="logout()">Log Out</a>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
