<div id="wrapper">

    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Bamama<br>
                        <span style="font-size: 20px;">User ID: xxxxxxxxx</span>
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">User Info</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center">
                                    <img alt="User Pic" src="http://thumbnails.cbc.ca/maven_legacy/thumbnails/822/983/raw-obama-prince-george-050116.jpg" class="profile-img img-responsive">
                                </div>

                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table table-user-information">
                                        <tbody>
                                        <tr>
                                            <td>User type:</td>
                                            <td>Admin</td>
                                        </tr>
                                        <tr>
                                            <td>Registration date:</td>
                                            <td>06/23/2013</td>
                                        </tr>
                                        <tr>
                                            <td>Date of Birth</td>
                                            <td>05/14/1998</td>
                                        </tr>

                                        <tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td>Female</td>
                                        </tr>
                                        <tr>
                                            <td>Address</td>
                                            <td>Toronto, Ontario</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td><a href="s.kelly@gmail.com">s.kelly@gmail.com</a></td>
                                        </tr>
                                        <td>Phone</td>
                                        <td>647-555-6666
                                        </td>

                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a data-original-title="Edit" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">Edit Info</a>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
