<div id="wrapper">

    <div id="page-wrapper">

        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{userFN}}'s Shopping Cart<br></h1>
                </div>
            </div>

            <div class="row">
                <table id="cart" class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th style="width:50%">Product</th>
                        <th style="width:10%">Price</th>
                        <th style="width:8%">Quantity</th>
                        <th style="width:22%" class="text-center">Subtotal</th>
                        <th style="width:10%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in userCart.items track by $index">
                        <td data-th="Product" ui-sref="fruit-detail({fruitid: item.fruit._id})">
                            <div class="row">
                                <div class="col-sm-2 hidden-xs">
                                    <img ng-src="{{item.fruit.photo}}" alt="..." class="img-responsive"/></div>
                                <div class="col-sm-10">
                                    <h4 class="nomargin">{{item.fruit.type}}</h4>
                                </div>
                            </div>
                        </td>
                        <td ng-model="priceOnPage" data-th="Price">${{item.fruit.price | number : 2}}</td>
                        <td data-th="Quantity">
                            <input ng-model="qtyOnPage" type="number" min="1" max="20" class="form-control text-center" ng-value="{{item.quantity}}">
                        </td>
                        <td data-th="Subtotal" class="text-center">${{item.fruit.price *  item.quantity| number : 2}}</td>
                        <td class="actions" data-th="">
                            <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="visible-xs">
                        <td class="text-center"><strong>Total ${{userCart.total | number : 2}}</strong></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="hidden-xs"></td>
                        <td class="hidden-xs text-center"><strong>Total ${{userCart.total | number : 2}}</strong></td>
                        <td><a href="#" ng-click="checkout()" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>

        </div>

    </div>

</div>
