<div id="wrapper">        

        <div id="page-wrapper">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-6 comments_panel">
                        <div class="detailBox">
                            <div class="titleBox">
                              <label>Comments</label>
                            </div>
                            <div class="actionBox">
                                <ul class="commentList">
                                    <li>
                                        <div class="commenterImage">
                                          <img src="http://placekitten.com/50/50" />
                                        </div>
                                        <div class="commentText">
                                            <p class="">My favourite pineapple is from store #1243</p> <span class="date sub-text">on March 5th, 2014</span>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="commenterImage">
                                          <img src="http://placekitten.com/45/45" />
                                        </div>
                                        <div class="commentText">
                                            <p class="">Their pineapples suck! Will never buy from here again</p> <span class="date sub-text">on March 5th, 2014</span>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="commenterImage">
                                          <img src="http://placekitten.com/40/40" />
                                        </div>
                                        <div class="commentText">
                                            <p class="">PPAP Pen Pineapple Apple Pen.</p> <span class="date sub-text">on March 5th, 2014</span>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="commenterImage">
                                          <img src="http://placekitten.com/40/41" />
                                        </div>
                                        <div class="commentText">
                                            <p class="">BEST, PINEAPPLES, EVA</p> <span class="date sub-text">on March 5th, 2014</span>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="commenterImage">
                                          <img src="http://placekitten.com/40/45" />
                                        </div>
                                        <div class="commentText">
                                            <p class="">We got 10 last week, made some pineapple juice and it was gone like that</p> <span class="date sub-text">on March 5th, 2014</span>

                                        </div>
                                    </li>
                                </ul>
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Your comments" />
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-default">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 product_info_panel">
                        <img class="product-pic" ng-src="{{fruitDetail.photo}}" alt="">
                        <div>
                           <label class="product_det_name">{{fruitDetail.type}}</label>
                            <div class="product_detail">
                                <h3>Price: {{fruitDetail.price}}</h3>
                                <p class="productid">{{fruitDetail._id}}</p>
                                Size: 
                                <select>
                                  <option value="small">Small</option>
                                  <option value="medium">Medium</option>
                                  <option value="large">Large</option>
                                </select>
                                <br/>
                                Store:
                                <select>
                                  <option value="small">Store1</option>
                                  <option value="medium">Store2</option>
                                  <option value="large">Store3</option>
                                </select>
                                <br/>
                                Qty: <input type="number" name="quantity" min="1" max="20">
                                <a href="#" class="add-to-cart">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

</div>
