<div id="wrapper">        

        <div id="page-wrapper">

            <div class="container-fluid sign_up">
                <h1>Sign In</h1>
                <br/>
                <form>
                    <p>Username: <input ng-model = "userCred.username" type="text" name="username"></p>
                    <p>Password: <input ng-model = "userCred.password" type="password" name="psw"></p>
                    <!-- <input type="submit" value="Submit"> -->
                    <button ng-click="signIn()">Sign In</button>
                </form>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
