<div id="wrapper">

    <div id="page-wrapper">
        <div class="container-fluid">

            <div class="table-responsive" ng-if="editMode">
                <table class="table table-bordered table-hover table-striped">
                    <thead>

                    </thead>
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" class="form-control" ng-init ="modStoreObj.name = storeDetail.name" ng-model="modStoreObj.name"></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Store Photo</td>{{modStoreObj.photo}}
                        <td><input type="text" class="form-control" ng-init ="modStoreObj.photo = storeDetail.photo" ng-model="modStoreObj.photo"></td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-block" style="margin-top: 20px;" ng-click="modCurrentStore()">Submit</button>
                <button type="button" ng-click="toggleEdit()">BACK</button>
            </div>

            <!-- Add Fruit -->
            <div class="table-responsive" ng-if="addMode">
                <table class="table table-bordered table-hover table-striped">
                    <thead>

                    </thead>
                    <tbody>
                    <tr>
                        <td>Type</td>
                        <td><input type="text" class="form-control" ng-init="" ng-model="addFruitObj.type"></td>
                    </tr>
                    <tr>
                        <td>Season</td>
                        <td><input type="text" class="form-control" ng-init="" ng-model="addFruitObj.season"></td>
                    </tr>
                    <tr>
                        <td>Unit</td>
                        <td><input type="text" class="form-control" ng-init="" ng-model="addFruitObj.unit"></td>
                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td><input type="text" class="form-control" ng-init="" ng-model="addFruitObj.quantity"></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td><input type="text" class="form-control" ng-init="" ng-model="addFruitObj.price"></td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-block"  ng-click="addNewFruit()">SUBMIT</button>
                <button type="button" ng-click="toggleAdd()">BACK</button>
            </div>

            <div class="row store_detail" ng-if="!editMode && !addMode">
                <label class="store_det_name">{{storeDetail.name}}</label>
                <button type="button" ng-click="toggleEdit()" ng-if="isAdmin">EDIT</button><br/>
                <div class="col-lg-12">
                    <p>{{storeDetail.address.city}},{{storeDetail.address.province}}</p>
                    <div class="rating">
                        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                    </div>
                    <h6>Store ID: {{storeDetail.storeId}}</h6>
                </div>
                <div class="col-lg-12 row store_info_panel">

                    <div class="col-lg-5 crop">
                        <img ng-src="{{storeDetail.photo}}">
                    </div>
                    <div class="col-lg-4 map_area">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d184552.57289084347!2d-79.51814004456952!3d43.71815566426796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb90d7c63ba5%3A0x323555502ab4c477!2sToronto%2C+ON!5e0!3m2!1sen!2sca!4v1480903584700" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <p class="store_info_header"><i class="fa fa-map-marker" aria-hidden="true"></i> {{storeDetail.address.street}}, {{storeDetail.address.city}}, {{storeDetail.address.province}}, {{storeDetail.address.postalcode}}</p>
                        <p class="store_info_header"><i class="fa fa-phone" aria-hidden="true"></i> (416) 979-1777</p>
                    </div>
                </div>


                <div class="col-lg-12 row">
                    <div class="col-lg-8 row store_products_panel">
                        <label>Products</label><a data-original-title="Add" data-toggle="tooltip" type="button" class="btn-lg" ng-click="toggleAdd()">Add Product</a><br/>
                        <div ng-repeat="fruit in storeDetail.fruits">
                            <div class="col-lg-3 product_thumb_link">
                                <span ui-sref="fruit-detail({fruitid: fruit._id})"><img ng-src="{{fruit.photo}}" alt=""></span>
                                <p>
                                    <span class="leftcap">{{fruit.type}}</span>
                                    <span class="rightcap">${{fruit.price | number : 2}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 comments_panel">
                        <div class="detailBox">
                            <div class="titleBox">
                                <label>Comments</label>
                            </div>
                            <div class="actionBox">
                                <ul class="commentList" ng-repeat="comment in storeDetail.comments">
                                    <li>
                                        <div class="commenterImage">
                                            <img ng-src="{{comment.user[0].photo}}" />

                                        </div>
                                        <div class="commenterText">
                                            <p class="">{{comment.username}}</p>
                                        </div>
                                        <div class="commentText">
                                            <p class="">{{comment.message}}</p> <span class="date sub-text">on {{comment.created}}</span>
                                        </div>
                                    </li>
                                </ul>
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <input ng-model = "storeComment.message" class="form-control" type="text" placeholder="Your comments" />
                                    </div>
                                    <div class="form-group">
                                        <button ng-click="commentOnStore()" class="btn btn-default" ng-if="loggedIn">Add</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
